/* variables colores */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$azul-claro:#6664e0;
$azul-fuerte:#1d1adb;

/* Fuentes */
$font-title: "Alegreya", serif;
$font-ibm: "Alegreya", serif;