//@import 'global';
@import 'mixin';
@import 'herencia';

/*.blog{
    background-color: #ffff;
    max-width: unset;
    padding: 5% 10%;
}
h3{
    color: $azul-fuerte;
    background-color: $azul-claro;
}*/