*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/*Font de matcha*/
@font-face{
    font-family: "VesterbroExtraBold";
  src: url("fonts/TRYVesterbro-Extrabold.otf"),url("fonts/try-vesterbro-extrabold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
/*responsive para celular*/
@media (max-width: 575px){
    /*barra navegacion*/
    .logo>img{
        width: 50%;
    }
    .menu{
        display: none;
    }
    .accion>a{
        display: none;
    }
    .accion>button{
        width: 100%;
    }
    /*barra Encabezadp*/
    .frasePrincipal{
        font-size: 50px;
        width: 100%;
    }
    .encabezado{
        display: flex;
        flex-direction: column;
    }
    .encabezado-parte1{
        width: 100%;
    }
    .encabezado-parte2{
        width: 100%;
    }
    
   
    .accion2{
        padding-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .boton2{
        width: 100%;
    }
    .fraseMarcas{
        text-align: center;
    }
    .marcas{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .marcas>img{
        width: 70%;
        height: 100%;
        text-align: center;
    }
    /*top freatures*/
    .topFeatures-container{
        display: flex;
        flex-direction: column;
        
    }
    /*tools help*/
    .toolsHelp-container{
        margin-left: 40px;
        margin-right: 40px;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: 100%;
    }
    .toolsHelp-item{
        width: 100%;
    }
    /*despñazamietno*/
    
    #desplazamiento-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .desplazamiento-item1{
        /*display: none;*/
        width: 100%;
    }
    .desplazamiento-item2>h1{
        font-size: 34px;
    }
    
    /*tabla invisible*/
    .tabla{
        display: none;
    }
}

/*--------------------Barra de navegación----------------------*/
.navbar{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu>li{
    display: inline-block;
    margin: 20px;
}
.menu>li>a{
    font-style: normal;
    font-family: Arial, "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #025157;
}
.accion>a>*{/*Sign in*/
    font-family: Arial;
    font-size: 14px;
    color: #025157;
    margin: 10px;
}
.boton{/*Boton*/
    text-decoration: none;
    font-style: normal;
    padding: 15px 20px 15px 20px;
    font-weight: 600;
    color: #ffff;
    background-color:#025157;
    border-radius: 8px;
    border: 0px;
  }
.boton:hover{
   background-color:#67b54b;
}

/*Quitar las subrayadas*/
a{
    text-decoration: none;
    color: inherit;
}
/*----------------------------------------------------------*/
/*--------------------Encabezado y video--------------------*/
.encabezado{
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1em;
    row-gap: 3em;
    align-items: center;
}
.frasePrincipal{
    font-style: "VesterbroExtraBold";
    font-size: 70px;
    color: #025157;
    line-height: 63px;
    margin-bottom: 30px;
}

.subfrasePrincipal{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: #46484c;
    font-weight: 400;
    line-height: 31px;/*Intelineado*/
}
.accion2{
    padding-top: 30px;
    margin-bottom: 20px;
}
.boton2{/*Boton*/
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    font-weight: 600;
    color: #ffff;
    background-color:#67b54b;
    border-radius: 8px;
    border: 0px;
    margin-right: 30px;
}
.anuncioTarjeta{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    color: rgba(139, 139, 139, 0.8);
    font-weight: 500;
    line-height: 22px;/*Intelineado*/
}
/*Video*/
.encabezado-parte2>video{
    width: 100%;
}
/*marcas*/
.fraseMarcas{
    grid-column: 1/3;
    justify-self:center;
}
.fraseMarcas>span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    color:#4a4a4a;
    font-weight: 700;
    line-height: 20px;/*Intelineado*/
    letter-spacing: 1.4px;
    margin-bottom: 40px;
    opacity: .4;
}
.marcas{
    justify-self:center;
    grid-column: 1/3;
    margin-bottom: 300px;
}
.marcas>img{
    padding-left: 90px;
}
/*----------------------------------------------------------*/
/*------------------------Top Features----------------------*/
.topFeatures-titulos{
    display: block;
    margin-bottom: 40px;

}
.topFeatures-titulo{
    text-align: center;
    font-style: "VesterbroExtraBold",Arial,sans-serif;
    font-size: 55px;
    color: #025157;
    line-height: 66px;
}
.topFeatures-subtitulo{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 27px;
    font-weight: 400;
}
.topFeatures-container{
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
}
.topFeatures-item{

    text-align: center;
}
.topFeatures-item>img{
    width: 360px;
    height: 240px;
    border: 1px solid #dadada;
    border-radius: 9px;
    margin-bottom: 20px;
}
.topFeatures-item>p{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color:#343434;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 20px;
}
.topFeatures-item>p:hover{
    color:#67b54b;
}
.topFeatures-item>span{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    color:#4a4a4a;
    line-height: 27px;
    font-weight: 400;
}
.topFeatures{
    margin-bottom: 90px;
}
/*----------------------------------------------------------*/
/*------------------------Tools to help---------------------*/
.toolsHelp>h1{
    text-align: center;
    font-style: "VesterbroExtraBold",Arial,sans-serif;
    font-size: 36px;
    color: #025157;
    line-height: 36px;
    margin-bottom: 40px;
}
.toolsHelp-container{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 2em;
    text-align: center;
}
.toolsHelp-item{
    border: 1px solid #dadada;
    width: 25%;
}
.toolsHelp-item>img{

    width: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.toolsHelp-item>p{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 19px;
    color:#343434;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.toolsHelp-item>span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    color:#7e7e7e;
    line-height: 23px;
    font-weight: 400;
}
.toolsHelp{
    margin-bottom: 200px;
}
/*----------------------------------------------------------*/
/*----------------------Parte Desplazar---------------------*/
#desplazamiento-container{
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2em;
}
.desplazamiento-item2{
    width: 100%;
    align-self: center;
}
.desplazamiento-item2>h1{
    font-style: "VesterbroExtraBold",Arial,sans-serif;
    font-size: 55px;
    color: #025157;
    line-height: 66px;
    margin-bottom: 10px;
}
.desplazamiento-item2>p{
    font-family: 'IBM Plex Sans', sans-serif;;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 27px;
    margin-bottom: 15px;
}
/*Slider automatico*/
.desplazamiento-item1{
    justify-self: end;
    overflow: hidden;
}
.desplazamiento-item1>ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 28s infinite;
    animation-direction: alternate;
}
.desplazamiento-item1>ul>li{
    list-style: none;
    width: 100%;
}
.desplazamiento-item1>ul>li>img{
    border-radius: 15px;
    width: 100%;

}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
}
/*----------------------------------------------------------*/
/*---------------------------Tabla--------------------------*/
.tabla-titulo{
    font-style: "VesterbroExtraBold",Arial,sans-serif;
    font-size: 26px;
    color: #025157;
    line-height: 26px;
}
.tabla>h1{
    text-align: center;
    font-style: "VesterbroExtraBold",Arial,sans-serif;
    font-size: 55px;
    color: #025157;
    line-height: 66px;
    margin-bottom: 40px;
}
.tabla-container{
    border: 1px solid #dadada;
    align-items: center;
    display: grid;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: 100px 80px 80px 80px 80px 80px;
}
.tabla-container>img{
    justify-self: center;
}
.tabla-item>span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 19px;
    color:#4a4a4a;
    line-height: 19px;
    font-weight: 400;
}
.tabla-item>p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    color:#4a4a4a;
    line-height: 20px;
    font-weight: 400;
}
/*----------------------------------------------------------*/